<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <f:be.pageRenderer/>

    <be:moduleLayout.menu identifier="MergedTcaToPhp">
        <be:moduleLayout.menuItem label="{f:translate(key: 'tca')}" uri="{f:uri.action(controller: 'Configuration', action: 'main')}"/>
    </be:moduleLayout.menu>

    <f:render partial="Form" section="Form" arguments="{tables: tables, table: table}"/>

    <f:render section="Content" />

</be:moduleLayout>

</html>
