<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>

    <f:section name="Form">
        <h2><f:translate key="tca"/></h2>
        <f:form action="show" class="form-group">
            <div class="row">
                <div class="{f:if(condition: isV11, then: 'col-12', else: 'col-md-12')}">
                    <label><f:translate key="chooseTable"/></label>
                    <div class="input-group">
                        <f:form.select class="form-control" name="table" options="{tables}" value="{table}"/>
                        <div class="input-group-btn">
                            <f:form.button class="btn btn-default" name="submit">
                                <core:icon identifier="actions-system-pagemodule-open" size="small"/>
                                <f:translate key="checkNow"/>
                            </f:form.button>
                        </div>
                    </div>
                </div>
            </div>
        </f:form>
    </f:section>
</html>
